__pycache__/
*.pyc
*.hi
*.o
*_stub.h
*.tsbuildinfo
node_modules/
delete_later/
dataset/
processed/
processed_fft/
processed_full/
processed_chunks/
processed_contour_probe/
processed_segment_*/
public/contour_audit/
public/validation_preview.jpg
